/* html, body {
    margin: 0;
    padding: 0;
}

html, body, main, #root, .app {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: #1976D2;
}

h1 {
    margin: 10px;
}

h1 a {
    text-decoration: none;
}

h2, h3 {
    margin: 0;
}

h2 {
    color: white;
}
  
  ul {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
  list-style-type: none;
  }
  
  ul.lists {
  }
  
  input {
    display: block;
  } */


  /********************************************************
LAYOUT
********************************************************/
:root{

    --color-primary:  #FDD692;
    --color-secondary: #754F44;
    --color-tertiary: #FFCD70;
    --color-quarternary: #EC7357;
    --color--quinternary: #FBFFB9;
    --color--red: #D83B18;
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.nodisplay{
    display:none !important;
}

html {
    box-sizing: border-box;
    /*1 rem = 10px*/
    font-size: 62.5%;  
    /* background-color: #0A1016; */
    /* color: var(--color-grey-light-3); */

}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 2rem;
    background-color: #FFEFD6;
    /* background-color: #1E3855; */
    color: #754F44;
    /* background:#FDD692; */
}

a{
    color: #754F44;
}
a:hover{
    color: inherit;
    background-color:inherit;
    text-decoration: none; 
}

a:focus{
    color: inherit;
    background-color:inherit;
    text-decoration: none; 
}

p{
    margin:0;
}

.container{
    margin: 2rem auto;
    max-width:85rem;
    display:flex;
    flex-direction:column;
    border: 0px solid black !important;
    background-color:#E8CDA4;
    /* background-color: #9EABB9; */
    padding:3rem;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, .4) !important;
}

.signout{
    align-self: flex-end;
    margin-top: 2rem;
}

.content_mainPage{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_mainPage--secondary{

    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.loginButton{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.imgLogo{
    height: 15rem;
    margin-bottom: 5rem;
}

.imgHeader img {
    height: 15rem;
    margin-bottom: 2rem;
    
}

@media only screen and (max-width: 
    550px) {
        .imgHeader img {
           
            height: 10rem;
        }
    }

.titleApp{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 4rem;  
     
}

@media only screen and (max-width: 
    550px) {
        .titleApp {
           
            font-size: 3rem;
        }
    }

.instructions{
    padding: 3rem;
}

.welcomeTitle{
    margin-top: 4rem;
    font-weight: bold;
    font-size: 2.5rem;
}

.happyCooking{
    font-weight: bold;
}

.loginCredentials{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.loginCredentials p:first-child{
    margin-bottom: 1rem;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.backBtn{
    cursor: pointer;
}
/********************************************************
BOOKSHELF
********************************************************/

.bookShelf{
    display:flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
    background-image: url(https://i.imgur.com/UbSwrfP.jpg);
    margin-bottom: 3rem;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, .3) !important;
    
}
.bookShelf__title{
    margin-top: 3rem;
    font-weight: bold;
    font-size: 3rem;
}
.bookShelf__container{
    /* border: 1px solid black; */
    /* padding: 4rem; */
    margin: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    background: #ccc;
  background-image: url(https://i.imgur.com/Y9VOVkK.jpg);
}


.linkBook {
    background: transparent; 
}

.linkBook:hover{
    background: transparent;
}

.book{
  
    width: 150px;
    height: 220px;
    /* border: 1px solid black; */
    flex-basis: 25%;
    margin: 2rem;
    cursor: pointer;
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
    box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, .4);
    /* overflow: hidden; */
    transition: box-shadow .3s linear;
    /* -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25); */
/* overflow: hidden; */
-webkit-transition: -webkit-box-shadow .3s linear;
transition: -webkit-box-shadow .3s linear;
transition: box-shadow .3s linear;
transition: box-shadow .3s linear, -webkit-box-shadow .3s linear;



}

.book img {

    width: inherit;
    height: inherit;
    -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
}

.book:hover {
    /* -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45); */
  }


  .book:hover img {
    -webkit-transform: rotateY(-25deg);
            transform: rotateY(-25deg);
    /* -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2); */
  }


  .divider::after {
    content: '';
    /* display: block; */
    width: 17rem;
    height: 2rem;
    /* height: inherit; */
    position: absolute;
    z-index: 2;
    top: 220px;
    left: -11px;
    background: url(https://i.imgur.com/UbSwrfP.jpg);
}




@media only screen and (max-width: 
    550px) {
        .book {
          flex-basis: 100%;
        }
    }

.newBook{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}

/* {
    cursor:pointer;
    margin: 2rem 0;
} */

/********************************************************
BOOKPAGE
********************************************************/
.container__bookPage{
    margin: 1rem auto;
    max-width: 125rem;
    display:flex;
    flex-direction:column;
    /* border: 1px solid black; */
    /* background-color:#FBFFB9; */
    /* box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, .4); */
    background-color: #fff6e7;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, .4) !important;
}


.bookPage{

    display:flex;
    justify-content: center;
    flex-direction: row;
    padding: 3rem;
}

@media only screen and (max-width: 
    700px) {
        .bookPage {
          flex-direction: column;
          align-items: center;
        }
    }

.bookPage__technical{
    display:flex;
    align-items: center;
    flex-direction: column;
    /* height: 80rem; */
    width: 40%;
    /* border: 1px solid black; */
    margin-right: 2rem;
    background-color:#E8CDA4;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, .3) !important;
 }

 .basicDetails{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .technicalDetails{
     text-align:center;
 }

 @media only screen and (max-width: 
    700px) {
        .bookPage__technical {
            /* height: 40rem; */
          width: 100%;
          margin-right: 0rem;
          margin-bottom: 2rem;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .technicalDetails{
            text-align:left;
        }
    }

    @media only screen and (max-width: 
    700px) {
        .basicDetails {
            flex-direction: row;
            align-items:flex-start;
            justify-content: flex-start;
        }
    }

    @media only screen and (max-width: 
    450px) {

        .bookPage__technical{
            justify-content: center;
            align-items: center;
        }

        .basicDetails{
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }

        .technicalDetails{
            text-align:center;
        }
    }

 .bookPate__annotations{
    display:flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* background-color:#E8CDA4; */
    background-color:#FFF6D6;
    /* height: 80rem; */
    width: 60%;
   
    /* border: 1px solid black; */
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, .3) !important;
 }

 .bookPate__annotations .newBook__new {

    margin-top: 2rem;
 }

 @media only screen and (max-width: 
    700px) {
        .bookPate__annotations {
            width: 100%;
        }
    }

.annot__container{
    padding: 2rem;
    margin: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}



.titleBook{
    text-align: center;
    word-break: break-all;
    padding: 1rem;
    margin-top: 3rem;
}

.authorBook{
    margin-bottom: 3rem;
}

.coverBook{
    height: 27rem;
    width: 20rem;
    /* border: 1px solid black; */
    margin: 3rem 0 3rem 0;
}

.coverBook img {
    width: inherit;
    height: inherit;
}


@media only screen and (max-width: 
    700px) {
        .coverBook{
          /* height: 10rem; */
          margin-right: 3rem;
          margin-left: 3rem;
          /* flex-shrink: 0; */
        }
    }

    @media only screen and (max-width: 
    450px) {
        .coverBook{
          height: 17rem;
          width: 14rem;
         
        }
    }

.resumeBook{
    margin: 3rem 0 3rem 0;
    text-align: center;
    word-break: break-all;
    padding: 1rem;
}

.annot{
    width: 150px;
    height: 220px;
    margin: 4rem;
    flex-shrink: 1;
    /* border: 1px solid black; */
    /* width:26%; */
    
    cursor: pointer;
    /* background: blue; */
    transform: translate3d(0, 0, 0);

}

.annot ul {

    width: 150px;
    position: relative;
  height: 220px;
  margin: 0px;
  padding: 0;
  list-style: none;
  -webkit-perspective-origin: 0 50% 0;
  perspective-origin: 0 50% 0;
-webkit-perspective: 800px;
  perspective: 800px;
-webkit-transform: translate3d(0, 0, 0);
}

.annot ul > li {

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 220px;
    padding: 0;
    margin: 0;
    background-color: ccc;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FFEDEDED');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(90%, #000000), to(#ededed));
    background-image: linear-gradient(to right, #000000 0%, #000000 90%, #ededed 100%);
    -webkit-transform-origin: 0 50% 0;
            transform-origin: 0 50% 0;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
}


.cover {
    z-index: 2 !important;
    color:white;
    text-align: center;
    display: block;
    width: 150px;
    height: 220px;
    word-break: break-all;
    background: #333 !important;
    -webkit-transform: rotateY(0deg) translateZ(0px);
            transform: rotateY(0deg) translateZ(0px);
  }

  .cover img {
      width:150px;
      height:220px;
      word-break: break-all;
      
  }

  


  .page1 {
    display: none;
    -webkit-transform: rotateY(20deg) translateZ(-1px);
            transform: rotateY(20deg) translateZ(-1px);
  }


  .page2 {
    display: none;
    -webkit-transform: rotateY(30deg) translateZ(-2px);
            transform: rotateY(30deg) translateZ(-2px);
  }

  .page3 {
    display: none;
    -webkit-transform: rotateY(40deg) translateZ(-3px);
            transform: rotateY(40deg) translateZ(-3px);
  }


  .annot:hover .page1,
  .annot:focus .page1,
  .annot:focus-within .page1,
  .annot:active .page1 {
    -webkit-transform: rotateY(-34deg);
            transform: rotateY(-34deg);
  }


  .annot:hover .page2,
  .annot:focus .page2,
  .annot:focus-within .page2,
  .annot:active .page2 {
    -webkit-transform: rotateY(-27deg);
            transform: rotateY(-27deg);
  }
  
  .annot:hover .page3,
  .annot:focus .page3,
  .annot:focus-within .page3,
  .annot:active .page3 {
    -webkit-transform: rotateY(-15deg);
            transform: rotateY(-15deg);
  }
  
  .annot:hover .cover,
  .annot:focus .cover,
  .annot:focus-within .cover,
  .annot:active .cover {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }

  .annot:hover,
  .annot:focus,
  .annot:active{

    outline: 0 !important;
    border: 0 !important;
  }
  



    /********************************************************
ANNOTATION PAGE
********************************************************/
.annotation{
    margin: 3rem;
    word-break: break-all;
}

.Annotation__container{

    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff6e7;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, .3) !important;
    padding: 2rem;
    border-radius: 2rem;
}

.Annotation__container .title {
    font-weight: bold;
    font-size: 3rem;
    word-break: break-all;
    text-align: center;
    
}





    /********************************************************
FORM
********************************************************/

  label {
      display: block;
      margin: 6px;
  }
  
  input, textarea, button {
      margin: 6px;
      display: block;
  }

  input {

    width: 96% !important;
  }
  
  textarea{
    width: 96% !important;
      height: 200px !important;
  }
  
  .message {
      padding: 12px 6px;
  }
  
  .message-success {
      background-color: #5CB85C;
      color: white;
  }


  .message-loading {
    background-color: #916F40;
    color: white;
}
  
  .message-error, .form-error {
      background-color: #AE1E23;
      color: white;
  }
  
  .form-error {
      margin: 0 6px;
      padding: 6px;
      display: inline-block;
  }



    /********************************************************
BTNS
********************************************************/
.backBtn{
    margin:2rem;
}

.logoutBtn{
    margin:2rem;
}

.logoutBtnBookshelf{
    /* margin: 2rem; */
    align-self: flex-end;
}

.container__buttons{

    display:flex;
   /* align-items: center; */
   justify-content: space-between; 
}

.editDelBtns{

    display:flex;
    margin: 2rem;
}

.annotBtns{

    display:flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.editBtnLink{

    color: white !important;
    margin-top: 0.5rem;
   
      
}
.btn-primary {
    background-color:#916F40;;
    border-color: #916F40;
    transition: .2s all;
}

.btn-primary:hover{

    background-color:#754F44;
    border-color: #754F44
}

.btn-primary:active{

    background-color:#754F44 !important;
    border-color: #754F44
}

.btn-primary:focus{

    background-color:#754F44;
    border-color: #754F44
}

.btn-primary:visited{

    /* background-color:#754F44;
    border-color: #754F44 */
}
  